@media screen and (min-width: 801px) and (max-width: 1050px)
{
    #section4{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1050px;
    }
    #section4>#continer{
        /* margin-top: -80%; */
        max-width: 1050px;
        height: 85%;
        /* background-color: antiquewhite; */
        display: grid;
        grid-template-areas: "a a"
                              "b c";
        grid-template-rows: 150px 500px;
        grid-template-columns: auto;
    }
    .pack1{
        /* background-color: lavender; */
        grid-area: a;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 25px;
    }
    .pack2{
        /* background-color: lawngreen; */
        grid-area: b;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pack3{
        /* background-color: lightcoral; */
        grid-area: c;
        display: flex;
        align-items: center;
        justify-content: center;
        /* display: none; */
    }
    .pack4{
        /* background-color: lightcyan; */
        grid-area: d;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
    }
    #fig3{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: aliceblue;
      height: 400px;
      width: 90%;
      border-radius: 20px;
    }
    #fig3 img{
        width: 80%;
    }
}
@media screen and (min-width: 501px) and (max-width: 800px)
{
    #section4{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 800px;
    }
    #section4>#continer{
        /* margin-top: -80%; */
        max-width: 800px;
        height: 85%;
        background-color: antiquewhite;
        display: grid;
        grid-template-areas: "a a"
                              "b b"
                              ;

        grid-template-rows: 200px 600px ;
        grid-template-columns: 300px;
        /* margin-left: 5%;
        margin-right: 5%; */
    }
    .pack1{
        /* background-color: lavender; */
        grid-area: a;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .pack2{
        /* background-color: lawngreen; */
        grid-area: b;
        display: flex;
        align-items: center;
        justify-content: center;
       
        margin: -10%;
    }
    .pack3{
        /* background-color: lightcoral; */
        grid-area: c;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        grid-column: span 2/3;
    }
    .pack4{
        /* background-color: lightcyan; */
        grid-area: d;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
    }
    #fig3{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: aliceblue;
      height: 400px;
      width: 90%;
      border-radius: 20px;
    }
    #fig3 img{
        width: 80%;
    }
}
@media screen and (min-width: 0px) and (max-width: 500px)
{
    #section4{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 500px;
    }
    #section4>#continer{
        margin-top: -80%;
        max-width: 500px;
        height: 85%;
        /* background-color: antiquewhite; */
        display: grid;
        grid-template-areas: "a "
                              "b";
        grid-template-rows: 20px 600px;
        grid-template-columns: 100%;
    }
    .pack1{
        /* background-color: lavender; */
        grid-area: a;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .pack2{
        /* background-color: lawngreen; */
        grid-area: b;
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin: -10%; */
    }
    .pack3{
        /* background-color: lightcoral; */
        grid-area: c;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
    }
    .pack4{
        /* background-color: lightcyan; */
        grid-area: d;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
    }
    #fig3{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: aliceblue;
      height: 400px;
      width: 90%;
      border-radius: 20px;
    }
    #fig3 img{
        width: 80%;
    }
}